{% extends 'base.html' %}

{% block lab %} Лабораторная работа 6 {% endblock %}

{% block script %}
<script>
    const login = "{{ login }}";

    function getOfficeList() {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'info',
            'id': Math.round(Math.random()*1000)
        };
        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            const office_list = data.result;
            const ul = document.getElementById('office-list');
            ul.innerHTML = '';
            let totalCost = 0;
    
            for(let i = 0; i < office_list.length; i++) {
                const office = office_list[i];
                const li = document.createElement('li');
                li.classList.add('office-item');
                const status = office.tenant ? 'занят' : 'свободен';
                li.innerText = `Кабинет ${office.id}: ${status} (стоимость: ${office.cost} руб.)`;
    
                const bookingButton = document.createElement('button');
                bookingButton.className = 'btn btn-primary';
                bookingButton.innerText = 'зарезервировать';
                bookingButton.onclick = function() { booking(office.id) };
    
                const cancelButton = document.createElement('button');
                cancelButton.className = 'btn btn-danger';
                cancelButton.innerText = 'освободить';
                cancelButton.onclick = function() { cancel(office.id) };
    
                li.appendChild(bookingButton);
                li.appendChild(cancelButton);
                ul.appendChild(li);
    
                if (office.tenant) {
                    totalCost += office.cost;
                }
            }
    
            // Добавить общую стоимость аренды
            const totalCostElement = document.getElementById('total-cost');
            totalCostElement.innerText = `Общая стоимость аренды: ${totalCost} руб.`;
        });
    }
    
    function booking(officeId) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'booking',
            'params': officeId,
            'id': Math.round(Math.random()*1000)
        };
    
        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                switch(data.error.code) {
                    case 1:
                        alert('Вы не авторизованы, пожалуйста, авторизуйтесь')
                        break;
                    case 2:
                        alert('Офис уже арендован')
                        break;
                    case -32601:
                        alert('Странная ошибка')
                        break;
                }
            }
            else {
                document.getElementById('office-list').innerHTML = '';
                getOfficeList();
            }
        });
    };
    
    function cancel(officeId) {
        const url = '/lab6/json-rpc-api/';
        const json = {
            'jsonrpc': '2.0',
            'method': 'cancellation',
            'params': officeId,
            'id': Math.round(Math.random()*1000)
        };
    
        fetch(url, {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(json)
        })
        .then(function(response) {
            return response.json();
        })
        .then(function(data) {
            if(data.error) {
                alert('Не удалось снять аренду');
            } else {
                document.getElementById('office-list').innerHTML = '';
                getOfficeList();
            }
        });
    }
    
    document.addEventListener('DOMContentLoaded', function() {
        getOfficeList();
    });
</script>
{% endblock %}

{% block styles %}
<style>
    .container {
        margin: 5px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
        }
    .office-list {
        list-style-type: none;
        padding: 0;
    }
    .office-item {
        width: 600px;
        margin: 10px 0;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn {
        padding: 5px 10px;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 10px;
    }
    .btn-primary {
        background-color: #007bff;
        color: white;
    }
    .btn-danger {
        background-color: #dc3545;
        color: white;
    }
    .total-cost {
        font-weight: bold;
        margin-top: 20px;
    }
</style>
{% endblock %}

{% block main %} 

<div class="container">
    <h1>Список кабинетов</h1>
    <ul id="office-list" class="office-list"></ul>
    <p id="total-cost" class="total-cost"></p>
</div>

{% endblock %}