{% extends 'base.html' %}

{% block title %}
{% if employee %}Редактировать сотрудника{% else %}Добавить сотрудника{% endif %}
{% endblock %}

{% block styles %}
<style>
    h1 {
        padding-bottom: 20px;
    }
    form {
        width: 500px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #f9f9f9; 
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    
    label {
        margin-bottom: 5px;
        color: #4a4a4a;
        font-weight: bold;
    }
    
    input, select, button {
        margin-bottom: 15px;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #dcdcdc;
        border-radius: 5px;
    }
    
    button {
        align-self: flex-end;
    }
</style>
{% endblock %}

{% block content %}
<h1>
    {% if employee %}Редактировать сотрудника{% else %}Добавить нового сотрудника{% endif %}
</h1>
<form 
    action="{% if employee %}/edit_employee/{{ employee.id }}{% else %}/add_employee{% endif %}" 
    method="POST"
>
    <label for="name">ФИО:</label>
    <input type="text" id="name" name="name" value="{{ employee.name if employee else '' }}" required>
    <br>
    <label for="position">Должность:</label>
    <input type="text" id="position" name="position" value="{{ employee.position if employee else '' }}" required>
    <br>
    <label for="gender">Пол:</label>
    <select id="gender" name="gender" required>
        <option value="male" {% if employee and employee.gender == 'male' %}selected{% endif %}>Мужской</option>
        <option value="female" {% if employee and employee.gender == 'female' %}selected{% endif %}>Женский</option>
    </select>
    <br>
    <label for="phone">Телефон:</label>
    <input type="tel" id="phone" name="phone" value="{{ employee.phone if employee else '' }}" required>
    <br>
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" value="{{ employee.email if employee else '' }}" required>
    <br>
    <label for="start_date">Дата устройства:</label>
    <input type="date" id="start_date" name="start_date" value="{{ employee.start_date if employee else '' }}" required>
    <br>
    <label for="probation_period">
        <input type="checkbox" id="probation_period" name="probation_period" 
               {% if employee and employee.probation_period %}checked{% endif %}>
        Испытательный срок
    </label>
    <br>
    <button type="submit">
        {% if employee %}Сохранить изменения{% else %}Добавить сотрудника{% endif %}
    </button>
</form>
{% endblock %}
