{% extends 'base.html' %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %}
    <h1>Создание статьи</h1>

    <form action="" method="post">
        <div>
            <label for="">
                Название статьи:
                <input type="text" name="title" id="" maxlength="50">
            </label>
        </div>

        <div>
            <textarea name="article_text" id=""></textarea>
        </div>

        <div>
            <button type="submit">Готово</button>
        </div>
    </form>
{% endblock %}
