{% extends 'base.html' %}

{% block lab %} Лабораторная работа 5 {% endblock %}

{% block main %} 
    <h1>Flask и БД</h1>
    <div>Тема лабораторной работы - Flask и БД</div>
    <div>Имя пользователя: {{ login }}</div>
    <div>Список сделанных страниц:</div>
    <ol>
        <li><a href="{{ url_for('lab5.login') }}">Вход</a></li>
        <li><a href="{{ url_for('lab5.register') }}">Регистрация</a></li>
        <li><a href="{{ url_for('lab5.list') }}">Список статей</a></li>
        <li><a href="{{ url_for('lab5.create') }}">Создать статью</a></li>
    </ol>
    <div>
        <a href="/lab5/logout">Выйти</a>
    </div>
{% endblock %}
