<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Лабораторная работа 3</title>
    <link rel="stylesheet" href="../main.css">
</head>
<body>
    <div class="main">
        <header>WEB программирование, часть 2. Лабораторная работа 2</header>
        <main>
            основной контент
        </main>
        <footer> 
            <hr>
            &copy; {{name}}, ФБИ-24, 2 курс, 2024
        </footer>
    </div>   
</body>
</html>