form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #ffffff; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
    margin-bottom: 5px;
    color: #4a4a4a;
    font-weight: bold;
}

input, button {
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
}

button {
    align-self: center;
}
